# Loops

In [1]:
# traverse thru range

a = range(1,5)
print(a)

for i in a:
    print(i)

range(1, 5)
1
2
3
4

In [3]:
b = range(3,9)
print(b)
for i in b:
    print(i)

range(3, 9)
3
4
5
6
7
8

In [4]:
# traverse the list
a = ['abu','parveen','ayesha','hakim']
print(a,type(a))
for i in a:
    print(i)

['abu', 'parveen', 'ayesha', 'hakim'] <class 'list'>
abu
parveen
ayesha
hakim

In [6]:
a = range(1,5)
print(a)
for i in a:
    print(i)

range(1, 5)
1
2
3
4

In [7]:
a = ['abu','parveen','ayesha','hakim']
print(a,type(a))
for i in a:
    print(i)

['abu', 'parveen', 'ayesha', 'hakim'] <class 'list'>
abu
parveen
ayesha
hakim

In [8]:
# traverse the SET

a = 'ABU'
print(a,type(a))
for i in a:
    print(i)

ABU <class 'str'>
A
B
U

In [9]:
# Nested for loops
a = ['abu','parveen','ayeshu','hakim']
print(a,type(a))
for i in a:
    print(i)
    for j in i:
        print(j)

['abu', 'parveen', 'ayeshu', 'hakim'] <class 'list'>
abu
a
b
u
parveen
p
a
r
v
e
e
n
ayeshu
a
y
e
s
h
u
hakim
h
a
k
i
m

In [10]:
a =['INDIA','PAK','Iran','America']
print(a,type(a))
for i in a:
    print(i)
    for j in i:
        print(j)

['INDIA', 'PAK', 'Iran', 'America'] <class 'list'>
INDIA
I
N
D
I
A
PAK
P
A
K
Iran
I
r
a
n
America
A
m
e
r
i
c
a

In [12]:
# Traverse the tuple
a =('INDIA','PAK','Iran','America')
print(a,type(a))

for i in a:
    print(i)
    for j in i:
        print(j)

('INDIA', 'PAK', 'Iran', 'America') <class 'tuple'>
INDIA
I
N
D
I
A
PAK
P
A
K
Iran
I
r
a
n
America
A
m
e
r
i
c
a

In [13]:
# Traverse the set
a ={'INDIA','PAK','Iran','America'}
print(a,type(a))

for i in a:
    print(i)
    for j in i:
        print(j)

{'America', 'INDIA', 'PAK', 'Iran'} <class 'set'>
America
A
m
e
r
i
c
a
INDIA
I
N
D
I
A
PAK
P
A
K
Iran
I
r
a
n

In [14]:
# Traverse the Dic - key
a ={'INDIA': 2,'PAK':4,'Iran':3,'America':1}
print(a,type(a))
for i in a:
    print(i)
    for j in i:
        print(j)

{'INDIA': 2, 'PAK': 4, 'Iran': 3, 'America': 1} <class 'dict'>
INDIA
I
N
D
I
A
PAK
P
A
K
Iran
I
r
a
n
America
A
m
e
r
i
c
a

In [16]:
a ={'INDIA': 2,'PAK':4,'Iran':3,'America':1}
print(a,type(a))
for i in a.keys():
    print(i)
    for j in i:
        print(j)

{'INDIA': 2, 'PAK': 4, 'Iran': 3, 'America': 1} <class 'dict'>
INDIA
I
N
D
I
A
PAK
P
A
K
Iran
I
r
a
n
America
A
m
e
r
i
c
a

In [20]:
a ={'INDIA': 2,'PAK':4,'Iran':3,'America':1}
print(a,type(a))
for i in a.items():
    print(i)
    for j in i:
        print(j)

{'INDIA': 2, 'PAK': 4, 'Iran': 3, 'America': 1} <class 'dict'>
('INDIA', 2)
INDIA
2
('PAK', 4)
PAK
4
('Iran', 3)
Iran
3
('America', 1)
America
1

In [4]:
a ={'INDIA': 2,'PAK':4,'Iran':3,'America':1}
print(a,type(a))
for i in a.values():
    print(i)

{'INDIA': 23, 'PAK': 4, 'Iran': 3, 'America': 1} <class 'dict'>
23
4
3
1

# While Loops

In [1]:
i = 1
while i < 5:
    print(i)
    i = i + 1

1
2
3
4

In [2]:
# While loop with a List
a = [1,2,3]
i = 0
while i <len(a):
    print(a[1])
    i = i +1

2
2
2

In [3]:
len(a)

3

In [1]:
a = 0
while a < 50:
    print(a)
    a = a + 10

0
10
20
30
40

In [2]:
a = 500
while a <= 500:
    print(a)
    a = a + 1

500

In [3]:
a = 100
while a < 500:
    print(a)
    a = a + 100

100
200
300
400

In [4]:
a = [1,2,3,4]
i = 0
while i <len(a):
    print(a[i])
    i = i +1

1
2
3
4

In [8]:
a = [10,20,30,60,40,50,0]
i = 0
while i < len(a):
    print(a[i])
    i = i + 5

10
50

In [7]:
len(a)

7

In [9]:
a = [1,2,3]
print(a[0])
print(a[1])
print(a[2])

1
2
3

In [10]:
a = [1,2,3]
i = 0
while i < len(a):
    print(a[i])
    i = i + 1

1
2
3

In [11]:
# Find sum of element values in this list
a = [1,2,3]
print(a[0]+a[1]+a[2])

6

In [12]:
a = [1,2,3]
print(1+2+3)

6

In [14]:
a = [1,2,3]
i = 0
s = 0
while i < len(a):
    print('i=',i,'a[i]=',a[i],'s=',s)
    s = s+a[i]
    i = i + 1
    print('i=',i,'end loop s=',s)
    print('_'*10)
print('sum=',s)

i= 0 a[i]= 1 s= 0
i= 1 end loop s= 1
__________
i= 1 a[i]= 2 s= 1
i= 2 end loop s= 3
__________
i= 2 a[i]= 3 s= 3
i= 3 end loop s= 6
__________
sum= 6

In [15]:
a = [5,6,7]
i = 0
s = 0
while i < len(a):
    print('i',i,'a[i]',a[i],'s',s)
    s = s+a[i]
    i = i + 1
    print('i',i,'end of loop',s)
    print('_'*20)
print('sum',s)

i 0 a[i] 5 s 0
i 1 end of loop 5
____________________
i 1 a[i] 6 s 5
i 2 end of loop 11
____________________
i 2 a[i] 7 s 11
i 3 end of loop 18
____________________
sum 18

In [16]:
# Remove value 3 from this List
a = [1,2,3,4,5,6,7]
print(a,len(a),type(a))

i = 0
while 3 in a:
    a.remove(3)
print(a)

[1, 2, 3, 4, 5, 6, 7] 7 <class 'list'>
[1, 2, 4, 5, 6, 7]

In [18]:
a = [1,2,3,4,5,6,7]
print(a,len(a),type(a))

i = 0
while 7 in a:
    a.remove(7)
    print('_'*20)
print(a)

[1, 2, 3, 4, 5, 6, 7] 7 <class 'list'>
____________________
[1, 2, 3, 4, 5, 6]

In [ ]:
# Print a rating as "risk" for tjosw who have score of less than 550
cibil_score = [300,400,500,550,600,700]

i = 0
rating = ''
listlen = len(cibil_score)

while i < listlen:
    if cibil_score[i]<550:
        rating = 'Risk'
        print(cibil_score[i], rating)
        i = i + 1

300 Risk
400 Risk
500 Risk

In [ ]:
print('Abu')

In [ ]:
 rating = 'Risk'
        print(cibil_score[i], rating)

In [2]:
cibil_score = [300,400,500,550,600,700]

i = 0
rating = ""
listlen = len(cibil_score)

while i < listlen:
    if cibil_score[i]<550:
        rating = "Risk"
        print(cibil_score[i], rating)
    else:
        rating = "Not Risky"
        print(cibil_score[i], rating)
    i = i + 1

300 Risk
400 Risk
500 Risk
550 Not Risky
600 Not Risky
700 Not Risky

In [4]:
cibil_score = [300,400,500,550,600,700,750,800]

i = 0
rating = ""
listlen = len(cibil_score)

while i < listlen:
    if cibil_score[i]<550:
        rating = "Risk"
    elif cibil_score[i]< 650:
        rating = "Average"
    elif cibil_score[i]< 750:
        rating = "Good"
    else:
        rating = "Excellent"
        
    print(cibil_score[i], rating)
    i = i + 1

300 Risk
400 Risk
500 Risk
550 Average
600 Average
700 Good
750 Excellent
800 Excellent

In [5]:
cibil_score = [725,500,300,400,525,550,600,700,750,800]
print('orginal:', cibil_score)
cibil_score = sorted(cibil_score)
print('sorted:',cibil_score)

orginal: [725, 500, 300, 400, 525, 550, 600, 700, 750, 800]
sorted: [300, 400, 500, 525, 550, 600, 700, 725, 750, 800]

In [11]:
cibil_score = [725,500,300,400,525,550,600,700,750,800]
print('orginal:', cibil_score)
cibil_score = sorted(cibil_score)
print('sorted:',cibil_score)

i = 0
rating = ""
listenlen = len(cibil_score)
print(listenlen)

while i < listenlen:
    if cibil_score[i] >= 550:
        break
    else:
         if cibil_score[i]<550:
             rating = "Risk"
         elif cibil_score[i]< 650:
            rating = "Average"
         elif cibil_score[i]< 750:
            rating = "Good"
         else:
             rating = "Excellent"
        
         print(cibil_score[i], rating)
         i = i + 1

orginal: [725, 500, 300, 400, 525, 550, 600, 700, 750, 800]
sorted: [300, 400, 500, 525, 550, 600, 700, 725, 750, 800]
10
300 Risk
400 Risk
500 Risk
525 Risk

In [16]:
cibil_score = [725,500,300,400,525,550,600,700,750,800]
print('orginal:', cibil_score)
cibil_score = sorted(cibil_score)
print('sorted:',cibil_score)

i = 0
rating = ""
listenlen = len(cibil_score)
print(listenlen)

while i < listenlen:
    if cibil_score[i] >= 550:
        i = i + 1
        continue
        
    if cibil_score[i]<550:
        rating = "Risk"
    elif cibil_score[i]< 650:
        rating = "Average"
    elif cibil_score[i]< 750:
        rating = "Good"    
    else:
        rating = "Excellent" 
        
    print(cibil_score[i], rating)
    i = i + 1

orginal: [725, 500, 300, 400, 525, 550, 600, 700, 750, 800]
sorted: [300, 400, 500, 525, 550, 600, 700, 725, 750, 800]
10
300 Risk
400 Risk
500 Risk
525 Risk

In [17]:
a = 'ABUBAKKAR'
print(a)

ABUBAKKAR

In [18]:
type(a)

str

In [19]:
len(a)

9

In [20]:
# UDF with no arugments and no return value
def greetings():
    print('Hello')

In [22]:
greetings()

Hello

In [23]:
def greetings('hello' + City)
greetings('chennai')

SyntaxError: invalid syntax (1389038829.py, line 1)

In [25]:
# 1- Parameter
def greetings(name):
    print('Hello ' + name)
greetings('chennai')

Hello chennai

In [29]:
def greetings(Name):
    print('Name: ' + Name)
greetings('Abubakkar')

Name: Abubakkar

In [30]:
greetings('Abu Parveen')

Name: Abu Parveen

In [31]:
# Multiple Parameter
def greetings(fname,lname):
    print('Welcome '+fname, ' and '+ lname)
greetings('Dhoni','Kohli')

Welcome Dhoni  and Kohli

In [32]:
# including return value

def gross_sal(allowance, salary):
    res = allowance + salary
    return res

In [33]:
gross_sal(500,2000)

2500

In [35]:
e_allow = 500
e_sal = 2000
e_gross = gross_sal(e_allow,e_sal)
print(e_allow,e_sal,e_gross)

500 2000 2500

In [37]:
print(gross_sal(e_allow,e_sal))

2500

In [45]:
def gross_sal(allowance, salary):
    res = allowance + salary
    return res

In [46]:
result = gross_sal(200,300)
print(result)

500

In [48]:

def gross_sal(allowance, salary):
    res = allowance + salary
    return res

gross_sal(200,300)

500

In [50]:
def gross_sal(allowance, salary):
    res = allowance + salary
    return res
result = gross_sal(500,200)  
print(result)

700

In [53]:
def Best_student(name,rank):
    Class = name,rank
    return Class

Best_student('Abu','First Rank')

('Abu', 'First Rank')

In [54]:
def gross_sal(allowance,Salary):
    print('allowance ',allowance)
    print('Salary ',Salary)
    res = allowance + Salary
    return res

Result = gross_sal(500,2000)
print(Result)

allowance  500
Salary  2000
2500