# SET

In [1]:
# Set creation
a ={1,'two',3.0,4}
print(a,type(a))

{1, 3.0, 4, 'two'} <class 'set'>

In [2]:
a = {1,2,3,4}
print(a,type(a))

{1, 2, 3, 4} <class 'set'>

In [3]:
a = {1,2,3,4,1,2}
print(a,type(a))

{1, 2, 3, 4} <class 'set'>

In [4]:
# Empty set creation
a = set()
print(a,type(a))

set() <class 'set'>

In [9]:
a = []
print(a,type(a))

[] <class 'list'>

In [13]:
# add element to the set
a = set()
a.add(1)
a.add(2)
a.add(3)
a.add(4)
print(a)
print(a,type(a))

{1, 2, 3, 4}
{1, 2, 3, 4} <class 'set'>

In [14]:
b = set()
b.add([1,2,3,4])
print(a)
print(a,type(a))

TypeError: unhashable type: 'list'

In [15]:
a ={1,2,3,4,5}
a.remove(2)
print(a,type(a))

{1, 3, 4, 5} <class 'set'>

In [17]:
# Indexing through set using list
a ={1,2,3,4,5}
print(a,type(a))
b = list(a)
b[0]

{1, 2, 3, 4, 5} <class 'set'>

1

In [21]:
a ={1,2,3,4,5}
print(a,type(a))
b = list(a)
b[2]

{1, 2, 3, 4, 5} <class 'set'>

3

In [22]:
# Deleting an identifer defned with set
print(a)
del a
print(a)

{1, 2, 3, 4, 5}

NameError: name 'a' is not defined

{9, 4, 5, 7}

NameError: name 'a' is not defined

In [25]:
a = {1,2,3,7}
print(a)
del a
print(a)

{1, 2, 3, 7}

NameError: name 'a' is not defined

In [26]:
a = {5,4,9,7}
print(a)
del a
print(a)

{9, 4, 5, 7}

NameError: name 'a' is not defined

In [29]:
a = {'abu','balu','chandru','dinesh'}
print(a)
del a
print(a)

{'balu', 'abu', 'chandru', 'dinesh'}

NameError: name 'a' is not defined

In [30]:
# Clear the Data in the set

a = {'abu','balu','chandru','dinesh'}
print(a)
a.clear()
print(a)

{'balu', 'abu', 'chandru', 'dinesh'}
set()

In [31]:
# Set Operation
a = {1,2,3}
b = {3,4,5}
print(a)
print(b)

{1, 2, 3}
{3, 4, 5}

In [32]:
# Union of set
print(a|b)

{1, 2, 3, 4, 5}

In [33]:
# Union of difference Set
print(a-b)

{1, 2}

In [34]:
# Intersection in set
print(a & b)

{3}

In [35]:
print(b - a)

{4, 5}


# Dictionary

In [36]:
#{key : Value} --> Pair
# Create single key:pair
a = {'Abu': 27}
print(a,type(a))

{'Abu': 27} <class 'dict'>

In [37]:
# Create Multiple key:pair
a = {'anu': 27,'Parveen':26,'Ayeshy':2.5,'Hakim':0}
print(a,type(a))

{'anu': 27, 'Parveen': 26, 'Ayeshy': 2.5, 'Hakim': 0} <class 'dict'>

In [42]:
a = {'abu': 27,'Parveen':26,'Ayeshy':2.5,'Hakim':0}
print(a,type(a))

{'abu': 27, 'Parveen': 26, 'Ayeshy': 2.5, 'Hakim': 0} <class 'dict'>

In [47]:
print(a['abu'])
print(a['Parveen'])
print(a['Ayeshy'])
print(a['Hakim'])

27
26
2.5
0

In [49]:
# Key -- cannot be duplicated
# Values -- can be duplicated
a = {'abu': 27,'Parveen':26,'Ayeshy':2.5,'Hakim':0,'city':'chennai','city2':'chennai','state':'TN'}
print(a,type(a))

{'abu': 27, 'Parveen': 26, 'Ayeshy': 2.5, 'Hakim': 0, 'city': 'chennai', 'city2': 'chennai', 'state': 'TN'} <class 'dict'>

In [51]:
a = {'abu': 27,'Parveen':26,'Ayeshy':2.5,'Hakim':0,'city':'chennai','city' : 'chennai','state':'TN'}
print(a,type(a))
print(a['city'])

{'abu': 27, 'Parveen': 26, 'Ayeshy': 2.5, 'Hakim': 0, 'city': 'chennai', 'state': 'TN'} <class 'dict'>
chennai

In [53]:
# access all key from the dict
a.keys()

dict_keys(['abu', 'Parveen', 'Ayeshy', 'Hakim', 'city', 'state'])

In [54]:
a.values()

dict_values([27, 26, 2.5, 0, 'chennai', 'TN'])