In [1]:
# Creation of Tuple ( Heterogeneous = Different data types)
a = (1,'Abu',22.1,True)
print(a,type(a))

(1, 'Abu', 22.1, True) <class 'tuple'>

In [2]:
print(a[0])

1

In [3]:
print(a[3])

True

In [4]:
a.append('Parveen')
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
a[0] = 20
print(a)

TypeError: 'tuple' object does not support item assignment

In [6]:
# Creat empty tuple
a = tuple()
print(a,type(a))

() <class 'tuple'>

In [7]:
a = ()
print(a,type(a))

() <class 'tuple'>

In [8]:
# Homogeneous = same datatype
a = (1,1,1,1,1)
print(a,type(a))

(1, 1, 1, 1, 1) <class 'tuple'>

In [9]:
a = ('Abu','Abu','Abu','Abu','Abu')
print(a,type(a))

('Abu', 'Abu', 'Abu', 'Abu', 'Abu') <class 'tuple'>

In [11]:
Days_name = tuple(['mon','tue','wed','thu','fri','sat','sun'])
print(Days_name,type(Days_name))

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') <class 'tuple'>

In [12]:
Days_name = ('mon','tue','wed','thu','fri','sat','sun')
print(Days_name,type(Days_name))

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') <class 'tuple'>

In [17]:
Days_name = tuple('mon','tue','wed','thu','fri','sat','sun')
print(Days_name,type(Days_name ))

TypeError: tuple expected at most 1 argument, got 7

In [18]:
len(Days_name)

7

In [19]:
print(Days_name[0])

mon

In [22]:
Days_name[0]

'mon'

In [21]:
print(Days_name[6])

sun

In [23]:
Days_name[0:7]

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [24]:
Days_name[0:7:2]

('mon', 'wed', 'fri', 'sun')

In [25]:
a = (1,2,3,4)
b = (10,20,30,40)
print(a+b,type(a+b))

(1, 2, 3, 4, 10, 20, 30, 40) <class 'tuple'>

In [29]:
a = (1,2,3,4)
b = (10,20,30,40)
print(a, a*4,b, b*4)

(1, 2, 3, 4) (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4) (10, 20, 30, 40) (10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [30]:
a[3]

4

In [31]:
a[5]

IndexError: tuple index out of range

In [32]:
# Usage of Operators
b = a*2
print(b)
print(b[5])

(1, 2, 3, 4, 1, 2, 3, 4)
2

In [35]:
c = a*50
print(c,type(c))

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4) <class 'tuple'>

In [36]:
print(c,len(c),type(c))

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4) 200 <class 'tuple'>

In [37]:
print(a)

(1, 2, 3, 4)

In [38]:
print(c)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [41]:
# [start:stop:step]
print(c[2:50],len(c))

(3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2) 200

In [40]:
len(c)

200

In [42]:
d = c[2:50]
print(d)

(3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2)

In [43]:
len(d)

48

In [49]:
print(c[0:200:9])

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3)

In [50]:
print(c[0::10])

(1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3)

In [51]:
print(c[0:200:10])

(1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3)

In [52]:
c.count(3)

50

In [53]:
c.count(1)

50

In [54]:
a = (1,2,3,4)
print(2 in a)

True

In [55]:
print(5 in a)

False

In [56]:
# UNPACKING
person = ('Abu',1997, ' Rep')
print(person,type(person))

('Abu', 1997, ' Rep') <class 'tuple'>

In [58]:
# UNPACKING COLLECTION ELEMENTS
name,eid,position = person
print(name,eid,position)
print(type(name),type(eid),type(position),type(person))

Abu 1997  Rep
<class 'str'> <class 'int'> <class 'str'> <class 'tuple'>

In [59]:
My_data = ('Abu','India',1997,'Married',5.7,46000)
name,nationality,year,status,hight,salary = My_data
print(name,nationality,year,status,hight,salary )
print(type(name),type(nationality),type(year),type(status),type(hight),type(salary))

Abu India 1997 Married 5.7 46000
<class 'str'> <class 'str'> <class 'int'> <class 'str'> <class 'float'> <class 'int'>

In [60]:
print(name)
print(nationality)
print(salary)

Abu
India
46000

In [63]:
print(*My_data)

Abu India 1997 Married 5.7 46000

In [3]:
My_data = ('Abu','India',1997,'Married',5.7,46000)
name,nationality,year,status,hight,salary = My_data
print(name)
print(nationality)
print(salary)
print(*My_data)

Abu
India
46000
Abu India 1997 Married 5.7 46000